In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style = 'whitegrid'

In [3]:
from sklearn.datasets import fetch_california_housing

data = fetch_california_housing() #assigning the dataset to a variable
df = pd.DataFrame(data.data, columns=data.feature_names) #dataframing the imported dataset
df["target"] = pd.Series(data.target) #converting the target column and titling it "target"

print(df.shape)
df.head()

(20640, 9)

   MedInc  HouseAge  AveRooms  AveBedrms  ...  AveOccup  Latitude  Longitude  target
0  8.3252      41.0  6.984127   1.023810  ...  2.555556     37.88    -122.23   4.526
1  8.3014      21.0  6.238137   0.971880  ...  2.109842     37.86    -122.22   3.585
2  7.2574      52.0  8.288136   1.073446  ...  2.802260     37.85    -122.24   3.521
3  5.6431      52.0  5.817352   1.073059  ...  2.547945     37.85    -122.25   3.413
4  3.8462      52.0  6.281853   1.081081  ...  2.181467     37.85    -122.25   3.422

[5 rows x 9 columns]

In [5]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    df.drop(["target"], axis=1),
    df["target"],
    test_size=0.2,
    random_state=101
)

print(
    "*Train set: ",
    x_train.shape,
    y_train.shape,
    "\n *Test set: ",
    x_test.shape,
    y_test.shape
)

*Train set:  (16512, 8) (16512,)
 *Test set:  (4128, 8) (4128,)