In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
pip install feature-engine

In [4]:
sns.set_style('whitegrid')

In [5]:
from sklearn.pipeline import Pipeline

In [6]:
from feature_engine.imputation import MeanMedianImputer

In [8]:
df = pd.read_csv("my_first.csv")
df

                                                                                                                         2. Given the following list of numbers:
[1                                                 10                        40.0 23.0 19.0 42.0 12.0 18.0 17.0 21.0 8.0                                      2]
Write a function which takes a number as a para... and checks if the         NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN                                     NaN
list contains two numbers which add up to that ... return the two numbers.   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN                                     NaN
If not                                             return None. For example: NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN                                     NaN
check_list(54)                                     NaN                       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN                                     NaN
-> returns [42                                     12]                       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN                                     NaN
check_list(31)                                     NaN                       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN                                     NaN
-> returns [10                                     21]                       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN                                     NaN
check_list(1000)                                   NaN                       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN                                     NaN
-> returns None                                    NaN                       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN                                     NaN

In [11]:
print(df.dtypes)

2. Given the following list of numbers:    object
dtype: object

In [12]:
df.isnull().sum()

2. Given the following list of numbers:    9
dtype: int64

In [ ]:
for col in df.columns:
    df[col].plot(kind="hist", y=col, figsize=(10,6))

In [ ]:
for col in df.select_dtypes(include="category").columns:
    df[col] = df[col].astype("object")