In [2]:
import numpy as np
import pandas as pd

In [5]:
categories = [1, 2, 3, 4]
categories

[1, 2, 3, 4]

In [6]:
my_list = ["wake up", "brush", "walk", "shower"]
my_list

['wake up', 'brush', 'walk', 'shower']

In [15]:
my_dict={"name": "milo",
         "breed": "DSH",
         "age": 5

}
my_dict

{'name': 'milo', 'breed': 'DSH', 'age': 5}

In [10]:
pd.Series(data=my_list)

0    wake up
1      brush
2       walk
3     shower
dtype: object

In [12]:
arr = np.array([100, 99, 98, 97])
arr

array([100,  99,  98,  97])

In [ ]:
arr_2 = pd.Series(data=arr, index=categories)
arr_2

In [26]:
arr_2 = pd.Series(data=arr, index=categories, name="trial")
arr_2

1    100
2     99
3     98
4     97
Name: trial, dtype: int64

In [35]:
t2= pd.Series(my_dict)
t2

name     milo
breed     DSH
age         5
dtype: object

In [30]:
type(t2)

pandas.core.series.Series

## Creating dataframes

In [44]:
np.random.seed(seed=1)
df = pd.DataFrame(data=np.random.randint(80, 877, (3, 3)),
                  index= [1, 2, 3],
                    columns=["product UID", "quantity", "sold to"]
                          )
df

   product UID  quantity  sold to
1          117       315      152
2          847       795      725
3          224       209      663

- check yourself, and parse dict1 as the data argument in the function pd.DataFrame().

Your output content should look like

In [49]:
sec_dict = {"Item1": [45, 36, 27, 18, 9], "Item2": [89, 45, 66, 32, 8], "Item3": [6, 4, 8, 9, 0]}
df = pd.DataFrame(sec_dict)
df

   Item1  Item2  Item3
0     45     89      6
1     36     45      4
2     27     66      8
3     18     32      9
4      9      8      0

- The DataFrame below has 10 rows and 40 columns and is made with NumPy array

In [57]:
np.random.seed(seed=1)
df = pd.DataFrame(data= np.random.randn(10, 40))
print(df)

         0         1         2         3         4         5         6   \
0  1.624345 -0.611756 -0.528172 -1.072969  0.865408 -2.301539  1.744812
1 -0.191836 -0.887629 -0.747158  1.692455  0.050808 -0.636996  0.190915
2 -0.222328 -0.200758  0.186561  0.410052  0.198300  0.119009 -0.670662
3 -0.024617 -0.775162  1.273756  1.967102 -1.857982  1.236164  1.627651
4 -0.517094 -0.997027  0.248799 -0.296641  0.495211 -0.174703  0.986335
5 -0.400878  0.824006 -0.562305  1.954878 -1.331952 -1.760689 -1.650721
6 -0.498214 -0.310985 -0.001891 -1.396620 -0.861316  0.674712  0.618539
7 -0.781912 -0.437509  0.095425  0.921450  0.060750  0.211125  0.016528
8 -0.135977 -0.797270  0.282676 -0.826097  0.621083  0.956122 -0.705841
9 -0.557495  0.939169 -1.943323  0.352494 -0.236437  0.727813  0.515074

         7         8         9   ...        30        31        32        33  \
0 -0.761207  0.319039 -0.249370  ... -0.691661 -0.396754 -0.687173 -0.845206
1  2.100255  0.120159  0.617203  ... -1.444114 -0.504466  0.160037  0.876169
2  0.377564  0.121821  1.129484  ... -1.373117  0.315159  0.846161 -0.859516
3  0.338012 -1.199268  0.863345  ... -0.310117 -2.434838  1.038825  2.186980
4  0.213534  2.190700 -1.896361  ...  1.160339  0.369493  1.904659  1.111057
5 -0.890556 -1.119115  1.956079  ...  0.242669  0.201830  0.661020  1.792158
6 -0.443172  1.810535 -1.305727  ...  0.836005  1.543359  0.758806  0.884909
7  0.177188 -1.116470  0.080927  ...  1.123412  0.305267  1.388779 -0.661344
8  1.192686 -0.237942  1.155288  ...  1.010127  0.920018 -0.195057  0.805393
9 -2.782534  0.584647  0.324274  ... -1.426555  1.767960 -0.475373  0.477610

         34        35        36        37        38        39
0 -0.671246 -0.012665 -1.117310  0.234416  1.659802  0.742044
1  0.315635 -2.022201 -0.306204  0.827975  0.230095  0.762011
2  0.350546 -1.312283 -0.038696 -1.615772  1.121418  0.408901
3  0.441364 -0.100155 -0.136445 -0.119054  0.017409 -1.122019
4  0.659050 -1.627438  0.602319  0.420282  0.810952  1.044442
5 -0.120465 -1.233121 -1.182318 -0.665755 -1.674196  0.825030
6 -0.877282 -0.867787 -1.440876  1.232253 -0.254180  1.399844
7  3.030857  0.824585  0.654580 -0.051188 -0.725597 -0.867769
8 -0.701344 -0.537223  0.156264 -0.190221 -0.448738 -0.672448
9 -1.021886  0.794528 -1.873161  0.920615 -0.035368  2.110605

[10 rows x 40 columns]

In [58]:
new_df= df.copy()
new_df

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,1.624345,-0.611756,-0.528172,-1.072969,0.865408,-2.301539,1.744812,-0.761207,0.319039,-0.249370,...,-0.691661,-0.396754,-0.687173,-0.845206,-0.671246,-0.012665,-1.117310,0.234416,1.659802,0.742044
1,-0.191836,-0.887629,-0.747158,1.692455,0.050808,-0.636996,0.190915,2.100255,0.120159,0.617203,...,-1.444114,-0.504466,0.160037,0.876169,0.315635,-2.022201,-0.306204,0.827975,0.230095,0.762011
2,-0.222328,-0.200758,0.186561,0.410052,0.198300,0.119009,-0.670662,0.377564,0.121821,1.129484,...,-1.373117,0.315159,0.846161,-0.859516,0.350546,-1.312283,-0.038696,-1.615772,1.121418,0.408901
3,-0.024617,-0.775162,1.273756,1.967102,-1.857982,1.236164,1.627651,0.338012,-1.199268,0.863345,...,-0.310117,-2.434838,1.038825,2.186980,0.441364,-0.100155,-0.136445,-0.119054,0.017409,-1.122019
4,-0.517094,-0.997027,0.248799,-0.296641,0.495211,-0.174703,0.986335,0.213534,2.190700,-1.896361,...,1.160339,0.369493,1.904659,1.111057,0.659050,-1.627438,0.602319,0.420282,0.810952,1.044442
5,-0.400878,0.824006,-0.562305,1.954878,-1.331952,-1.760689,-1.650721,-0.890556,-1.119115,1.956079,...,0.242669,0.201830,0.661020,1.792158,-0.120465,-1.233121,-1.182318,-0.665755,-1.674196,0.825030
6,-0.498214,-0.310985,-0.001891,-1.396620,-0.861316,0.674712,0.618539,-0.443172,1.810535,-1.305727,...,0.836005,1.543359,0.758806,0.884909,-0.877282,-0.867787,-1.440876,1.232253,-0.254180,1.399844
7,-0.781912,-0.437509,0.095425,0.921450,0.060750,0.211125,0.016528,0.177188,-1.116470,0.080927,...,1.123412,0.305267,1.388779,-0.661344,3.030857,0.824585,0.654580,-0.051188,-0.725597,-0.867769
8,-0.135977,-0.797270,0.282676,-0.826097,0.621083,0.956122,-0.705841,1.192686,-0.237942,1.155288,...,1.010127,0.920018,-0.195057,0.805393,-0.701344,-0.537223,0.156264,-0.190221,-0.448738,-0.672448
9,-0.557495,0.939169,-1.943323,0.352494,-0.236437,0.727813,0.515074,-2.782534,0.584647,0.324274,...,-1.426555,1.767960,-0.475373,0.477610,-1.021886,0.794528,-1.873161,0.920615,-0.035368,2.110605